.welcome-container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  ion-icon {
    font-size: 4rem;
    margin-bottom: 1rem;
  }

  h1 {
    font-weight: bold;
    color: var(--ion-color-primary);
  }

  p {
    color: var(--ion-color-medium);
  }
}
