<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title mode="ios" class="page-title">
      PhotoMesure
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <div class="ion-padding">  
    <div class="centered-container"> 
      <div class="hero-card ion-activatable ripple-parent" (click)="startNewMeasurement()">
        <ion-ripple-effect></ion-ripple-effect>
        <div class="hero-content">
          <div class="icon-circle">
            <ion-icon name="camera-outline"></ion-icon>
          </div>
          <h2>Nouveau Scan</h2>
          <p>Appuyez pour commencer</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
